/* 
#0979B5
#98D4F5
#5E91AD
#5C686E
#44A1D4
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EFEFEF;
}
header, footer {
    background-color: #98D4F5;
    color: #000;
    text-align: center;
    padding: 1rem;
}
header img {
    max-width: 150px;
}

footer {
    background-color: #44A1D4;
    margin-top: 2rem;
}
footer .social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
footer .social-links a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
}
footer .social-links a.facebook {
    background-image: url('/media/facebook-icon.svg');
}
footer .social-links a.x {
    background-image: url('/media/x-icon.svg');
}
footer .social-links a.instagram {
    background-image: url('/media/instagram-icon.svg');
}
footer .contact-info {
    margin-top: 1rem;
}